@import url('https://api.fonts.coollabs.io/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    height: 100vh;

    justify-content: center;
    align-items: center;
}

h1 {
    color: darkred;
    font-family: "Quicksand";
}