@import url('https://api.fonts.coollabs.io/css2?family=Quicksand&display=swap');

body {
    background-color: rgb(56, 77, 72);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    height: 100vh;



}

h1 {
    color: rgb(239, 221, 155);
    font-family: "Quicksand";
    text-align: center;
    font-size: medium;

    margin-left: auto;
    margin-right: auto;
}